body {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #8e44ad, #e91e63);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #8e44ad, #e91e63);
}

.btn-login {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  color: #fff;
  background-color: #1266F1;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s;
}

.btn-login:hover {
  background-color: #0d6efd;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mdb-input {
  width: 95%;
  margin: auto; 
}

.label-fade {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

.label-visible {
  opacity: 1;
}
